notes.md

data/Ancestor.bed
data/AncestorElephant.bed
data/AncestorHorse.bed
data/AncestorSheep.bed
data/CDS.coverage.bed
data/CDS.regions.bed
data/graphs.RData
data/graphsElephant.RData
data/graphsHorse.RData
data/graphsSheep.RData
data/indexfile.txt

.DS_Store
.snakemake/
.snakemake/.DS_Store
.snakemake/log/.DS_Store
config/.DS_Store
config/slurm/.DS_Store
resources/.DS_Store
resources/grantham_matrix/.DS_Store
workflow/.DS_Store
workflow/docker/.DS_Store
workflow/docker/sift4g/.DS_Store
workflow/scripts/.DS_Store

workflow/scripts/step_1_extract_ancestor/.DS_Store
workflow/scripts/step_2_derive_variants/.DS_Store
workflow/scripts/step_3_simulate_variants/.DS_Store
workflow/scripts/step_4_summary_report/.DS_Store
workflow/scripts/step_5_annotate_variants/.DS_Store
workflow/scripts/step_1_extract_ancestor/HOWTO1.md
workflow/scripts/step_2_derive_variants/HOWTO2.md
workflow/scripts/step_4_summary_report/HOWTO4.md
workflow/scripts/step_5_annotate_variants/HOWTO5.md
workflow/scripts/step_6_combine_annotations/HOWTO6.md
workflow/scripts/step_7_train_test_model/HOWTO7.md
workflow/scripts/step_8_score_variants/HOWTO8.md


output/anc-coverage.svg
output/anc-seq.svg
output/derived_cow.pdf
output/derived_elephant.pdf
output/derived_horse.pdf
output/derived_sheep.pdf
output/omniCADD_Graph.png
output/sim-der.svg
output/simulated_cow.pdf
output/simulated_elephant.pdf
output/simulated_horse.pdf
output/simulated_sheep.pdf
output/venn_all_chr.pdf
academic_cv_edit.docx
omniCADD.docx
~$niCADD.docx

visualisee_CADD.md
GERP/README.md
boar_tmp_HOWTO.md
boar_tmp_HOWTO.md
boar_tmp_HOWTO.md
boar_tmp_HOWTO.md
boar_tmp_HOWTO.md
/GERP
workflow/rules/5_annotate_vars_unimplemented.smk
boar_tmp_HOWTO_MERGE.md
CONFIG_GUIDE.md
IMPLEMENTATION_SUMMARY.md
QUICK_REFERENCE.md
worflow-Page-2.drawio.png
*.frq
genomeBoar/Wild_Boar_chr9.fa.fai
genomeBoar/Wild_Boar_chr9.fa
genomeBoar/Wild_Boar_chr8.fa.fai
genomeBoar/Wild_Boar_chr8.fa
genomeBoar/Wild_Boar_chr7.fa.fai
genomeBoar/Wild_Boar_chr7.fa
genomeBoar/Wild_Boar_chr6.fa.fai
genomeBoar/Wild_Boar_chr6.fa
genomeBoar/Wild_Boar_chr5.fa.fai
genomeBoar/Wild_Boar_chr5.fa
genomeBoar/Wild_Boar_chr4.fa.fai
genomeBoar/Wild_Boar_chr4.fa
genomeBoar/Wild_Boar_chr3.fa.fai
genomeBoar/Wild_Boar_chr3.fa
genomeBoar/Wild_Boar_chr2.fa.fai
genomeBoar/Wild_Boar_chr2.fa
genomeBoar/Wild_Boar_chr18.fa.fai
genomeBoar/Wild_Boar_chr18.fa
genomeBoar/Wild_Boar_chr16.fa.fai
genomeBoar/Wild_Boar_chr16.fa
genomeBoar/Wild_Boar_chr15_17.fa.fai
genomeBoar/Wild_Boar_chr15_17.fa
genomeBoar/Wild_Boar_chr14.fa.fai
genomeBoar/Wild_Boar_chr14.fa
genomeBoar/Wild_Boar_chr13.fa.fai
genomeBoar/Wild_Boar_chr13.fa
genomeBoar/Wild_Boar_chr12.fa.fai
genomeBoar/Wild_Boar_chr12.fa
genomeBoar/Wild_Boar_chr11.fa.fai
genomeBoar/Wild_Boar_chr11.fa
genomeBoar/Wild_Boar_chr10.fa.fai
genomeBoar/Wild_Boar_chr10.fa
genomeBoar/Wild_Boar_chr1.fa.fai
genomeBoar/Wild_Boar_chr1.fa
genomeBoar/Wild_Boar_Assembly.part_chr_X.fasta
results/derived_variants/singletons/chr12.vcf
results/derived_variants/singletons/chr12.vcf.gz
results/derived_variants/singletons/chr2.vcf
results/derived_variants/singletons/chr2.vcf.gz
results/derived_variants/singletons/chr2.vcf.gz.tbi
results/derived_variants/singletons/WildBoar_Chr12.vcf.gz
results/derived_variants/singletons/WildBoar_Chr2.vcf.gz
WildBoar_Chr2.vcf.gz
WildBoar_Chr12.vcf.gz
results/derived_variants/singletons/chr12.vcf.gz.tbi
workflow/docker/augustus/README.md
README.md
README.md
README.md
README.md
