notes.md

data/Ancestor.bed
data/AncestorElephant.bed
data/AncestorHorse.bed
data/AncestorSheep.bed
data/CDS.coverage.bed
data/CDS.regions.bed
data/graphs.RData
data/graphsElephant.RData
data/graphsHorse.RData
data/graphsSheep.RData
data/indexfile.txt
.DS_Store
.snakemake/.DS_Store
.snakemake/log/.DS_Store
config/.DS_Store
config/slurm/.DS_Store
resources/.DS_Store
resources/grantham_matrix/.DS_Store
workflow/.DS_Store
workflow/docker/.DS_Store
workflow/docker/sift4g/.DS_Store
workflow/scripts/.DS_Store
workflow/scripts/step_1_extract_ancestor/.DS_Store
workflow/scripts/step_2_derive_variants/.DS_Store
workflow/scripts/step_3_simulate_variants/.DS_Store
workflow/scripts/step_4_summary_report/.DS_Store
workflow/scripts/step_5_annotate_variants/.DS_Store
workflow/scripts/step_1_extract_ancestor/HOWTO1.md
workflow/scripts/step_2_derive_variants/HOWTO2.md
workflow/scripts/step_4_summary_report/HOWTO4.md
workflow/scripts/step_5_annotate_variants/HOWTO5.md
workflow/scripts/step_6_combine_annotations/HOWTO6.md
workflow/scripts/step_1_extract_ancestor/HOWTO1.md
workflow/scripts/step_2_derive_variants/HOWTO2.md
workflow/scripts/step_4_summary_report/HOWTO4.md
workflow/scripts/step_5_annotate_variants/HOWTO5.md
workflow/scripts/step_6_combine_annotations/HOWTO6.md
workflow/scripts/step_1_extract_ancestor/HOWTO1.md
workflow/scripts/step_2_derive_variants/HOWTO2.md
workflow/scripts/step_4_summary_report/HOWTO4.md
workflow/scripts/step_5_annotate_variants/HOWTO5.md
workflow/scripts/step_6_combine_annotations/HOWTO6.md
workflow/scripts/step_1_extract_ancestor/HOWTO1.md
workflow/scripts/step_1_extract_ancestor/HOWTO1.md
workflow/scripts/step_2_derive_variants/HOWTO2.md
workflow/scripts/step_4_summary_report/HOWTO4.md
workflow/scripts/step_5_annotate_variants/HOWTO5.md
